doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="/stylesheets/normalize.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/masterStyle.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/masterQueries.css")
		link(link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css')
	body
		header
			img(src="/images/gLogo.png", alt="Georgian Logo", width="250px")
	block content
	footer
		div.sponsors
			p 
				img(src='/images/Ford_logo.png', alt='Ford Logo')
			p
				img(src='/images/PowerStream-Logo.png', alt='Power Stream Logo')
		
	footer.other
		p Copyright © 2015 Georgian College