extends layout

block content
	div(class="content")
		section(class='information')
			h2 Usage Policy
			p As part of the Electric Vehicles on Campus project, Ford Motor Company of Canada has donated two year leases for a Ford Focus Battery Electric Vehicle (BEV), and a Ford C-Max Energi Plug-in Hybrid Electric Vehicle (PHEV).  These vehicles (when on campus) are located at the PowerStream Solar Assisted Electric Vehicle Charging Station between the Sustainable Technologies (A) building and the Skills (F) building. As stated in the agreement with Ford, the vehicles are to be used for research and promotional activities undertaken by Georgian College.  As such, all operators of the vehicles should be aware of the vehicle features and capabilities, as well as have some familiarity with the research activities.  It is anticipated that the Focus BEV with its limited range of approximately 100km, will be used primarily for research purposes with a single operator for the duration of the research project.  It is anticipated that the C-Max Energi PHEV with its ability to run on gasoline will be used for research as well, but will have greater use by faculty and staff for marketing and promotion purposes.   Based on our commitments, and the spirit of the project, we would like as many faculty and staff to learn about the project and operate the vehicle as possible.  In addition, college employees and guests that are driving their own electric vehicle are welcome to charge their vehicle at the charging station during college operational hours.  Please see usage protocols below.  Inquiries may be directed to Ron Sky X5228. 
	section(class='buttons') 
		button(type="button", class='button') 
			a(href='/register', title='register page') I accept
		button(type="button", class='button') 
			a(href='/', title='home page') I Decline