extends layout

block content
	div(class="content")
		section(class='information')
			h2 Usage Policy
			p Georgian College is delivering an increased range of education and applied research services in the areas related to electricity use, energy distribution, and grid performance. Leveraging the newly installed four bay solar assisted electric vehicle charging station and the sophisticated monitoring and control system, the college is collaborating with industry to accelerate the delivery of new products and services, as well as offering insights into methods to optimize energy use and distribution. One initiative that has been undertaken by faculty and students at the college is the electric vehicle research project. This project enables researchers to investigate consumer trends in purchasing plug-in electric vehicles, as well as the true costs and benefits of vehicle operation. The investigation is being carried out by analyzing consumer surveys and research data, as well as field testing plug-in electric vehicles. Using this information, researchers model the impact of the plug-in electric vehicle market, and identify opportunities for business and the electrical utility sector.

	section(class='buttons') 
		button(type="button", class='button') 
			a(href='/register', title='register page') I accept
		button(type="button", class='button') 
			a(href='/', title='home page') I Decline