@charset "UTF-8";
/* CSS Document */
@media screen and (max-width: 960px) {
    h2 {
        font-size: 55px;    
    }
}


@media screen and (max-width: 750px) {
    h2 {
        font-size: 40px;   
    }
}

@media screen and (max-width: 480px) {
    
    h2 {
        font-size: 29px;   
    }
}

@media screen and (max-width: 360px) {
    h2 {
        font-size: 26px;   
    }
    
    /*==========form class=======*/
    .form {
        text-align: left;
        
    }

    .form .input {
        height: 30px;
        width: 100%;
        border-radius: 10px;
        border: none;
    }

    .form p {
        font-size: 14px;
        font-weight: bold;
        padding: 10px 0 0 0;
    }

    .form . radio {
        padding: 0 5px;
    }
}